@import 'mixins';

.theme-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  svg {
    width: 50px;
    height: 50px;
  }

  &.dark-theme svg path {
    fill: $colorlight;
  }

  &.light-theme {
    svg {
      width: 40px;
      height: 40px;

      path {
        fill: $colorlight;
      }

    }
  }


}

/*=================================================================*/
/*                      LIGHT MODE
/*=================================================================*/

body.light {
  .theme-icon {
    &.dark-theme svg path {
      fill: $colordark;
    }

    &.light-theme {
      svg {
        path {
          fill: $colordark;
        }

      }
    }


  }
}
