<!-- section contact -->
<section id="contact" class="d-flex align-items-center justify-content-center">

  <div class="container">

      <!-- section title -->
      <h2 class="section-title wow fadeInUp mb-5">Get In Touch</h2>

      <ul class="social-icons light list-inline mb-0 mt-3 text-center">
        <li class="list-inline-item"><a class="h1" href="https://www.instagram.com/gabys.dev/"><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a class="h1" target="_blank" href="https://api.whatsapp.com/send?phone=5511943698845&text=Ol%C3%A1!%20Eu%20vim%20do%20seu%20portfolio!"><i class="fab fa-whatsapp"></i></a></li>
        <li class="list-inline-item"><a class="h1" target="_blank" href="mailto:contato@gabys.dev"><i class="far fa-envelope"></i></a></li>
    </ul>

  </div>

</section>
