@import 'mixins';

/*=================================================================*/
/*                      SECTIONS
/*=================================================================*/

section.home {
	background: $colordark;
	padding: 0;
	height: 100vh;
	min-height: 100vh;
	.intro {
		margin: auto;
		max-width: 540px;
		text-align: center;
		position: relative;
		z-index: 1;
		h1 {
			color: #FFF;
			font-size: 36px;
		}
		span {
			color: #FFF;
			font-size: 16px;
		}
	}
	.social-icons {
		li {
			a {
				color: #FFF;
			}
		}
	}
	&.light {
		background: #F9F9FF;
		.intro {
			h1 {
				color: $colordark;
			}
			span {
				color: $colordefault;
			}
		}
		.social-icons {
			li {
				a {
					color: $colordark;
					&:hover {
						color: $coloryellow;
					}
				}
			}
		}
	}
}

.avatar-image {
  width: 170px;
  clip-path: circle(60px at center);
}

//TODO: Deixar a aniamção mais suave e uma animação mais legal!
.rotator {
  animation: rotatorAnimate 3s ease infinite;
}

@keyframes rotatorAnimate {
	0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}
