@import 'mixins';

/*=================================================================*/
/*                      SECTIONS
/*=================================================================*/

section.home {
	background: $colordark;
	padding: 0;
	height: 100vh;
	min-height: 100vh;
	.intro {
		margin: auto;
		max-width: 540px;
		text-align: center;
		position: relative;
		z-index: 1;
		h1 {
			color: $coloryellow;
			font-size: 36px;
      font-family: "Rubik", sans-serif;
		}
		span {
			color: #FFF;
			font-size: 20px;
		}
    .avatar-image {
      @include avatar-image(210px, 210px, '/assets/images/gaby.webp');
    }
	}
	&.light {
		background: #F9F9FF;
		.intro {
			h1 {
				color: $colordark;
			}
			span {
				color: $colordefault;
			}
		}
	}
}

