<!-- section home -->
<section id="home" class="home d-flex align-items-center">
  <div class="container">

      <!-- intro -->
      <div class="intro">
          <!-- avatar image -->
          <div  alt="Gabriela Ribeiro Neves" class="avatar-image mb-3"></div>

          <!-- info -->
          <h1 class="mb-2 mt-0">Gaby Neves</h1>
            <span>Olá, Sou desenvolvedora front-end! <br> Eu faço </span>

            <span textRotator [words]="['sites','lojas virtuais','aplicações web']" class="rotator"></span>
            <!-- <span animateSpin [words]="['sites','lojas virtuais','aplicações web']" class="spinner"></span> -->

          <!-- social icons -->
          <ul class="social-icons light list-inline mb-0 mt-3">
              <li class="list-inline-item"><a href="https://www.instagram.com/gabys.dev/"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a target="_blank" href="https://github.com/GabyRibeiro"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/gabriela-rneves/"><i class="fab fa-linkedin"></i></a></li>
          </ul>

          <!-- buttons -->
          <div class="mt-3">
              <a href="#contact" class="btn btn-default">Converse comigo</a>
          </div>
      </div>

      <!-- scroll down mouse wheel -->
      <div class="scroll-down">
          <a href="#about" class="mouse-wrapper">
              <span>Scroll Down</span>
              <span class="mouse">
                  <span class="wheel"></span>
              </span>
          </a>
      </div>

      <parallax-effect></parallax-effect>
  </div>

</section>
